.maintopmotor {
  background-color: #001224;
  background-image: url(../Assets/images/glober.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  position: relative;
  color: white;
  height: 130px;
}

.buttoninsure {
  display: flex;
  column-gap: 20px;
}

.location {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding-bottom: 20px;
}

.maintitle {
  font-weight: 520;
  margin-left: 23%;
}

.maintitles {
  font-weight: 520;
  margin-left: 35%;

}

.motortruck {
  font-weight: 520;
  margin-left: 20%;
}

.mainbody {
  width: 100%;
  background-color: rgb(235, 244, 252)
}

.listitem ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.listitem {
  padding: 0px;
}

.homelist {
  height: 300px;
  display: flex;
  overflow-y: auto;
  direction: rtl;
  align-items: flex-start;

}


.homelist ul {
  list-style: none;
  margin: 0;
  padding-left: 50px;
}

.homelist ul li {
  direction: ltr;
  text-align: left;
}

.homelist::-webkit-scrollbar {
  width: 5px;
}

.homelist::-webkit-scrollbar-track {
  background: #c0c0c0;
}

.homelist::-webkit-scrollbar-thumb {
  background: #030303;
}

.homelist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contactusbody {
  background-color: rgb(235, 244, 252)
}

.contactfoam {
  background-image: url(../Assets/images/loginglobe.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 20px;
  background-color: #080528;
}


.accordion {
  list-style: none;
  padding: 0;
}

.accordion li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
}

.accordion li:hover {
  background-color: #f9f9f9;
}

.accordion li.active {
  background-color: #f9f9f9;
}

.accordion-content {
  display: none;
}

.accordion li.active .accordion-content {
  display: block;
}

.insurelink {
  text-decoration: none;
  color: black;

}

.maintikerimg {
  margin-bottom: 30px;
}


.insurancebutton {
  font-size: 14px;
  font-weight: bold;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  width: 50%;
}

.contactfoam {
  width: 85%;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  margin: auto;
}

.contactusfor {
  padding: 20px;
}

.mainheading {
  font-size: 24px;
  font-weight: bold;
  width: 537px;
}

.secondmainheading {
  font-size: 32px;
  font-weight: bold;
}

.reasonssection {
  justify-content: center;
  margin: auto;
  /* column-gap: 109px; */
}

.firstsectionpara {
  font-size: 14px;

}

.firstmainsection {
  justify-content: space-between;
}

.mainheadsec {
  width: 85%;
}

.widthset {
  width: 85%;
}

@media only screen and (max-width: 1024px) {
  .mainheading {
    font-size: 18px;
    font-weight: bold;

  }

  .widthset {
    width: 100%;
  }

  .insurancebutton {
    font-size: 18px;
    font-weight: bold;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .mainheading {
    font-size: 18px;
    font-weight: bold;
    width: max-content;
  }

  .firstsectionpara {
    font-size: 16px;
    width: 350px;
  }

  .insurancebutton {
    font-size: 16px;
    font-weight: bold;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
}

.centeralign {
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  .smallscreenpadding{
    padding-top: 200px !important;
  }
  .listitem ul {
    padding: 0px 15px;
  }
.contactfoam{
  position: relative;
  height: 750px;
}
  .firstsectionpara {
    width: auto;
  }

  .mainheading {
    width: auto;
    font-size: 32px;
  }

  .widthset {
    width: 100%;
  }

  .location a {
    font-size: 12px;
  }

  .mainheadsec {
    width: 100%;
  }

  .maintopmotor {
    height: 160px;
  }

  .contactfoam {
    width: 96%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
  }

  .centeralign {
    padding-top: 0px;
  }

  .quatationimage {
    display: none;
  }

  .location {
    position: relative;
    top: 20px;
    display: block;
    font-size: 8px;

  }

  .buttoninsure {
    display: block;
  }

  .buttoninsure button {
    width: 100%;
  }

  .maintitle {

    margin-left: 0%;
    margin-top: 10px;
    font-size: 32px;
    width: 90%;
  }

  .maintitles {
    margin-left: 0%;
    margin-top: 10px;
    font-size: 25px;

  }

  .motortruck {
    margin-left: 0%;
    margin-top: 10px;
    font-size: 30px;

  }

  .smalltext {
    font-size: 16px;
  }

  .insurancebutton {
    font-size: 12px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .customtext {
    text-align: center;
  }

}