body{
    background: #011121;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.insurence li:hover{
    background-color: rgb(121, 195, 195);
}
.smalltext{
    color: #5a5959;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.heading{
    color: #024;

font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-link{
    font-size: 11px;
   font-weight: 550;
}
.navbar{
    width: 95%;
    margin: auto;
    
}